<form name="employeeForm" id="employeeForm" ng-submit="submit()">
  <md-list>
    <md-list-item>
      <md-input-container flex="grow">
        <label>Name</label>
        <input type="text" ng-model="$parent.$parent.form.name" ng-require>
      </md-input-container>
    </md-list-item>
    <md-list-item>
      <md-input-container flex="grow">
        <label>Position</label>
        <input type="text" ng-model="$parent.$parent.form.title" ng-require>
      </md-input-container>
    </md-list-item>
    <md-list-item style="margin-bottom:8px">
      <label style="margin-left:3px; color:rgba(0,0,0,0.26)">Hire Date</label>
      <md-datepicker ng-model="$parent.$parent.form.hireDate" ng-require></md-datepicker>
    </md-list-item>
    <md-list-item>
      <md-input-container flex="grow">
        <label>URL to Picture</label>
        <input type="url" ng-model="$parent.$parent.form.photoId">
      </md-input-container>
    </md-list-item>
    <md-list-item>
      <md-button flex="grow" style="text-align:left" type="submit" class="md-raised md-primary">
        Add Employee
      </md-button>
    </md-list-item>
  </md-list>
</form>
