<div class="employee" ng-repeat="employee in employees">
    <div class="employee-header clearfix">
        <div class="left">
            <h2>{{employee.name}}</h2>
        </div>
        <div class="show_details right">
            <a href="" ng-show="!employee.visibleDetails" ng-click="employee.visibleDetails=true">(+)</a>
            <a href="" ng-show="employee.visibleDetails" ng-click="employee.visibleDetails=false">(-)</a>
        </div>
    </div>
    <div class="employee-info" ng-show="employee.visibleDetails">
        <ul>
            <li>Title: {{employee.title}}</li>
            <li>Age: {{employee.age}}</li>
            <li>Hire Date: {{employee.hireDate | date:mediumDate}}</li>
            <li ng-show="employee.photoid">Photo: {{employee.photoid}}</li>
        </ul>
        <div class="remove">
            <a href="" ng-click="removeEmployee(employee)">
                (remove employee)
            </a>
            <a ui-sref="update({employeeId: employee.id})" ng-click="updateEmployeeForm()">
                (update info)
            </a>
        </div>
    </div>
</div>
