<div class='loader' ng-show="!employees&&!loadingError">
    <img src="img/ajax-loader.gif">
    <h1>Loading Employees...</h1>
</div>
<div class='loadingError' ng-show="loadingError">
    <h1>OOPS!  Employee load failed :(</h1>
</div>
<span ng-show="employees">
<h2 id="listheader">Current Employees</h2>
<md-list>
  <md-divider></md-divider>
  <div ng-repeat="employee in employees">
      <!-- <md-list-item>
        <md-button flex="grow" style="text-align:left" class="md-raised" slide-toggle="#sliderdiv">
              {{ employee.name }}
        </md-button>
      </md-list-item> -->
      <div id="sliderdiv" class="slideable">
      <md-list-item>
        <md-whiteframe flex="grow" class="md-whiteframe-4dp">
        <md-content flex="grow">
            <div class="pic left">
                <img ng-src="{{ employee.photoId }}" ng-show="employee.photoId">
                <img src="img/profile-generic-portrait.jpg" ng-show="!employee.photoId">
            </div>
            <div class="info left">
                <h2>{{ employee.name }}</h2>
                <h3>{{ employee.title }}</h3>
                <h3>Age: {{ employee.age }}</h3>
                <h3>{{ employee.hireDate | date : longDate }}</h3>
            </div>
            <div class="menu right">
                <md-menu md-position-mode="target-right target">
                 <!-- Trigger element is a md-button with an icon -->
                 <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Action menu">
                   <md-icon md-svg-src="img/icons/ic_menu_black_24px.svg"></md-icon>
                 </md-button>
                 <md-menu-content>
                     <md-menu-item><md-button ui-sref="update({ employeeId: employee.id })">Edit</md-button></md-menu-item>
                     <md-menu-item><md-button ng-click="removeEmployee(employee)">Remove</md-button></md-menu-item>
                 </md-menu-content>
                </md-menu>
            </md-whiteframe>
        </md-content>
      </md-list-item>
      </div>
  </div>
  </div>
</md-list>
</span>
