<html ng-app="EmployeeApp" ng-init="formVisible=false">
    <head>
        <title>Employee List</title>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="employees.js"></script>
        <link rel="stylesheet" type="text/css" href="employees.css">
    </head>
    <body>
        <div class="main" ng-controller="EmployeeCtrl">
            <div class="header clearfix">
                <div class="left">
                    <h1>Employees</h1>
                </div>
                <div class="add-btn right">
                    <a href="" ng-show="!formVisible" ng-click="formVisible=true">(+)</a>
                    <a href="" ng-show="formVisible" ng-click="formVisible=false">(-)</a>
                </div>
            </div>
            <div class="add-form" ng-show="formVisible">
                <form ng-submit="addEmployee()">
                    <ul>
                        <li>
                            <label for="name">Name:</label>
                            <input type="text" name="name" ng-model="name" required>
                        </li>
                        <li>
                            <label for="title">Title:</label>
                            <input type="text" name="title" ng-model="title" required>
                        </li>
                        <li>
                            <label for="age">Age:</label>
                            <input type="text" name="age" ng-model="age" required>
                        </li>
                        <li>
                            <label for="hireDate">Hire Date:</label>
                            <input type="date" name="hireDate" ng-model="hireDate" required>
                        </li>
                        <li>
                            <label for="photoid">Photo ID:</label>
                            <input type="url" name="photoid" ng-model="photoid">
                        </li>
                        <li>
                            <input type="submit" value="Add">
                        </li>
                    </ul>
                </form>
            </div>
            <div class="employee" ng-repeat="employee in employees">
                <div class="employee-header clearfix">
                    <div class="left">
                        <h2>{{employee.name}}</h2>
                    </div>
                    <div class="show_details right">
                        <a href="" ng-show="!employee.visibleDetails" ng-click="employee.visibleDetails=true">(+)</a>
                        <a href="" ng-show="employee.visibleDetails" ng-click="employee.visibleDetails=false">(-)</a>
                    </div>
                </div>
                <div class="employee-info" ng-show="employee.visibleDetails">
                    <ul>
                        <li>Title: {{employee.title}}</li>
                        <li>Age: {{employee.age}}</li>
                        <li>Hire Date: {{employee.hireDate}}</li>
                        <li ng-show="employee.photoid">Photo: {{employee.photoid}}</li>
                    </ul>
                    <div class="remove">
                        <a href="" ng-click="removeEmployee(employee)">
                            (remove employee)
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
