* {
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

[ng-cloak] {
    display:none;
}

h2 {
    margin-bottom:10px;
}

h3 {
    font-size: 18px;
    line-height: 30px;
    font-weight: lighter;
}

h3:last-child {
    margin-bottom:5px;
}

#listheader {
    margin-left:10px;
    margin-bottom:2px;
}

md-sidenav h2 {
    margin-left:10px;
}

md-sidenav {
  width: 420px;
}

md-sidenav md-divider {
  margin-bottom: 8px;
}

md-sidenav md-list-item {
  height: 60px;
}

md-whiteframe {
    margin-top: 6px;
}

form md-list-item {
    margin-bottom: 8px;
}

.loader, .loadingError {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.loader img {
    display: block;
    margin:0 auto 30px auto;
    width: 300px;
    height: 300px;
}

.info {
    margin:8px 0 8px 25px;
    min-height:100px;
}

.pic {
    box-sizing: border-box;
    width:150px;
    margin:8px 0 8px 10px;
}

.pic img {
    max-width:100%;
    max-height:auto;
}

.right {
    float:right;
}

.left {
    float:left;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}
